 <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 0.8
        </div>
        <strong>Desarrollado por <a href="http://lucodeveloper.com/">LucoDeveloper</a>.</strong>
      </footer>

      <aside class="control-sidebar control-sidebar-dark">
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Actividad Reciente</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Cumpleaños de ABC</h4>
                    <p>será el 10 de Marzo</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-user bg-yellow"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">lorem actualizo su Perfil</h4>
                    <p>Nuevo Telefono +1(800)552-4992</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">ipsum se unio a la lista de correos</h4>
                    <p>ipsum@mail.com</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-file-code-o bg-green"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Trabajo X 254 Ejecutado</h4>
                    <p>Tiempo de ejecución en 5 segundos</p>
                  </div>
                </a>
              </li>
            </ul>

            <h3 class="control-sidebar-heading">Progreso de Tareas</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Diseño Personalizado de Plantillas
                    <span class="label label-danger pull-right">65%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 65%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Actualizar Resumen
                    <span class="label label-success pull-right">90%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Integracion de Laravel
                    <span class="label label-warning pull-right">45%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" style="width: 45%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Back End Framework
                    <span class="label label-primary pull-right">60%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-primary" style="width: 60%"></div>
                  </div>
                </a>
              </li>
            </ul>

          </div>
          <div class="tab-pane" id="control-sidebar-stats-tab">Contenido de pestañas Estadisticas</div>
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">Opciones Generales</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Reportar uso de panel
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Alguna informacion sobre esta opcion de configuracion general
                </p>
              </div>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Permite la redireccion de correo electronico
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Otro conjunto de opciones está disponible
                </p>
              </div>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Exponer nombre de autor en los posts
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Permite al usuario mostrar su nombre en posts de blog
                </p>
              </div>

              <h3 class="control-sidebar-heading">Opciones de Chat</h3>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Mostrarme en linea
                  <input type="checkbox" class="pull-right" checked>
                </label>
              </div>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Apagar Notificaciones
                  <input type="checkbox" class="pull-right">
                </label>
              </div>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Borrar Historial de Chat
                  <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                </label>
              </div>
            </form>
          </div>
        </div>
      </aside>
      <div class="control-sidebar-bg"></div>
    </div>